@using ThanhToanMoMo.Models;
@model IEnumerable<CartItemDetail>

@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int stt = 1;
    int tongTien = 0;

    MyDataDataContext Data = new MyDataDataContext();
    var chiTietDonHang = Data.ChiTietGioHangs.ToList(); // Lấy tất cả các sản phẩm từ ChiTietGioHang
}

<div class="container py-5">
    <h1 class="display-4">Giỏ hàng</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Sản phẩm</th>
                    <th>Giá</th>
                    <th>Số lượng</th>
                    <th>Thành tiền</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (chiTietDonHang.Any())
                {
                    foreach (var item in chiTietDonHang)
                    {
                        // Lấy thông tin giỏ hàng
                        var cart = Data.GioHangs.FirstOrDefault(g => g.MaGioHang == item.MaGioHang);
                        var cart2 = Data.SanPhams.FirstOrDefault(g => g.id == item.id);

                        if (cart != null && cart2 != null)
                        {
                            <tr>
                                <td>@stt</td>
                                <td>@cart2.Tensp</td>
                                <td>@cart2.Gia.ToString("N0")</td>
                                <td>@cart.SoLuong</td>
                                <td>@(cart.ThanhTien.ToString("N0"))</td>
                                <td>
                                    <a href="@Url.Action("RemoveFromCart", "Cart", new { id = item.id })" class="btn btn-danger">Xóa</a>
                                </td>
                            </tr>
                            stt++;
                            tongTien += cart.ThanhTien;
                        }
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6">Không có sản phẩm trong giỏ hàng. Vui lòng thêm sản phẩm vào trước khi thanh toán.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @if (chiTietDonHang.Any())
    {
        <div class="text-right">
            <h4 class="my-4">Tổng tiền: <span class="text-primary">@tongTien.ToString("N0")</span></h4>
            <a href="@Url.Action("Payment", "Cart", new { tongTien = tongTien })" class="btn btn-primary btn-lg">Thanh toán</a>
        </div>
    }
</div>
